#heading1{font-size:80px; text-align:center; color:mediumvioletred; font-family:Haettenschweiler;}
#heading2{font-size:40px; text-align:center; color:chocolate; font-family:freestyle script;}
#heading3a{font-size:35px; text-align:center; color:darkgreen; font-family:bookman old style; font-weight:bold; width:25%;}
#heading3b{font-size:35px; text-align:center; color:darkgreen; font-family:bookman old style; font-weight:bold; width:70%;}

.header{display:border-box; background:rgba(135,206,250,0.75);}

.flex-container1{
background:rgba(0,206,209,0.65);
display:flex;
flex-direction:column;
flex-wrap:nowrap;
width:25%;
float:left;
margin : 10px;
}

.flex-container3{
background:rgba(240,128,128,0.65);
display:flex;
flex-direction:row;
flex-wrap:nowrap;
width:70%;
float:right;
margin : 10px;
}

.flex-item1{
width:90%;
height:250px;
background:papayawhip;
margin:15px;
}

.flex-item3{
width:25%;
height:270px;
background:papayawhip;
margin:15px;
}

.flex-container2{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
width:100%;
height:250px;
}

.flex-item2{
width:20%;
height:220px;
background:papayawhip;
margin:15px;
}

img:hover{
opacity:0.75;
}

fieldset{
box-sizing:border-box;
margin:10px 20px;
pading:10px;
width:100%;
height:320px;
}

legend{
font-weight:bold;
font-family:magneto;
color:crimson;
font-size:40px;
}

nav{
background:slategray;
width:100%;
padding:2px;
}

ul{list-style:none;
width:100%;
text-align:center;
}

li{display:inline;
margin:0px 50px;
font-family:calibri;
font-weight:bold;
}
li:hover{
background:dodgerblue;
padding:10px;
}

a{
color:white;
text-decoration:none;
}

marquee{
scrollamount:10;
scrolldelay:20;
loop:-1;
font-size:20px;
color:red;
font-weight:bold;
font-family:Lucida Calligraphy;
}